@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	background-color: #f4f4f4;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	overflow: hidden;
}

.container{
	max-width: 1000px;

	background-color: #fff;
	border:3px solid #000;
	border-radius: 30px;
	text-align: center;
	padding: 30px;

}

.code-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
}

.code{
	width: 100px;
	text-align: center;
	height: 120px;
	font-size: 75px;
	border-radius: 5px;
	border:1px solid #f6f6f6;
	margin: 1%;

	/*for firefox*/
	-moz-appearance:textfield;
}

/*For Chrome*/
.code::-webkit-inner-spin-button,
.code::-webkit-outer-spin-button{
	-webkit-appearance:none;
	margin: 0;
}

.code:valid{
	border-color: skyblue;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}


.info{
	max-width: 400px;
	display: inline-block;/*max-width paw work yan*/
	background-color: #eaeaea;
	line-height: 20px;
	border-radius: 5px;
	padding: 10px;

}

@media(max-width: 600px){
	.code-contaiiner{
		flex-wrap: wrap;
	}

	.code{
		width: 70px;
		height: 80px;
		font-size: 60px;
	}
}